@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
body {
    margin: 0;
}

.thala {
    background: url("https://drive.google.com/uc?export=download&id=1i-iQ1a-ll5pI_gNXBzn0BUHT-nbsOUtb");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.glass{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0.32) 100%), radial-gradient(2312.28% 117.96% at 73.67% 49.61%, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.00) 100%), radial-gradient(3465.68% 199.39% at 27.42% 57.87%, rgba(101, 101, 101, 0.00) 0%, rgba(255, 255, 255, 0.00) 100%);
backdrop-filter: blur(8px);
width: 100%;
height: 127px;
display: flex;
gap: 680px;

}
.glass h2{margin: 0;
    color: #FFF;
font-size: 36px;
font-family: Josefin Sans;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-left: 23px;
padding-top: 45px;
padding-bottom: 45px;
}
.hd{display: flex;
gap: 15px;
padding-top: 45px;
    padding-bottom: 45px;}
.hd a{
    text-decoration: none;
    color: #FFF;
    font-size: 24px;
font-family: Josefin Sans;
font-style: normal;
font-weight: 400;
line-height: 40px;
}
.headmn{
    color: #FFF;
text-align: center;
font-size: 64px;
font-family: Josefin Sans;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 462px;
position: absolute;
top: 50%;
right: 35%;
}

.headsb{
    color: #FFF;
text-align: center;
font-size: 32px;
font-family: Josefin Sans;
font-style: normal;
font-weight: 300;
line-height: normal;
position: absolute;
top: 85%;
right: 38%;
}
.abt{
    display: flex;
    width: 100%;
    gap: 220px;
}
.abt h3{
    width: 370px;
    color: #000;
font-size: 64px;
font-family: Josefin Sans;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 80px;
padding-right: 80px;
}
.abt p{
    width: 479px;
    color: #FFF;
font-size: 24px;
font-family: Josefin Sans;
font-style: normal;
font-weight: 300;
line-height: normal;
padding-left: 40px;
padding-right: 40px;
padding-bottom: 35px;
padding-top: 35px;
border-radius: 69px;
background: #3B3B3B;
box-shadow: 0px 12px 19px 13px rgba(0, 0, 0, 0.25);
}
.lnp{
    background: url("public/images/linebg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 130px;
    
}
.lnp h2{
    color: #FFF;
font-size: 64px;
font-family: Josefin Sans;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 75px;
padding-left: 75px;
padding-bottom: 14px;
margin: 0;
}
.vara{
    width: 48px;
    height: 4px;
    background: #FFF;
    margin-left:75px;
}
.alkaar{
    display: flex;
    gap: 136px;
    padding-left: 220px;
    padding-top: 40px;
    
}
.alkaar2{
    display: none;
}
.indv{
    border-radius: 49px;
background: linear-gradient(174deg, rgba(98, 98, 98, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(360deg, #373737 0%, rgba(217, 217, 217, 0.00) 100%);
backdrop-filter: blur(4.5px);
padding: 30px 40px 30px 40px;
}
.indv p{
    color: #FFF;
text-align: center;
font-size: 24px;
font-family: Josefin Sans;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;
}
.stry{
    padding-top: 116px;
    padding-bottom: 100px;
    padding-left: 90px;
    padding-right: 35px;
}
.stry h3{
    color: #000;
font-family: Josefin Sans;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 5px;
}
.stry p{
    color: #000;
font-family: Josefin Sans;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.tae{
    background: url('public/images/tae.png');
    background-size: cover;
    padding-top: 100px;
    padding-left: 90px;
    padding-right: 74px;
    padding-bottom: 200px;
}
.tae h3{
    color: #FFF;
font-family: Josefin Sans;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 4px;
}
.taeb{
    display: flex;
    gap: 28px;
    padding-top: 100px;
    padding-left: 100px;
}
.taebs{
    display: flex;
    gap: 28px;
    padding-top: 35px;
    padding-right: 93px;
    padding-left: 21px;
    padding-bottom: 33px;
    border-radius: 27px;
background: radial-gradient(79.92% 70.00% at 50.00% 50.00%, rgba(251, 251, 251, 0.20) 0%, rgba(251, 251, 251, 0.00) 100%), rgba(44, 44, 44, 0.65);
backdrop-filter: blur(5px);
}
.taebs img{
    object-fit: contain;
}
.taebsth{
    color: #FFF;
font-family: Josefin Sans;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 5px;
}
.taebstp{
    color: #FFF;
font-family: Josefin Sans;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: 5px;
}
.btntae{
    border-radius: 7px;
background: #FFF;
padding-left: 23px;
padding-right: 23px;
padding-top: 7px;
padding-bottom: 7px;
width: max-content;

}
.btntae a{
    color: #000;
font-family: Josefin Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;;
text-decoration: none;
text-align: center;
justify-content: center;
}
.foot{
    padding-top: 83px;
    padding-left: 90px;
    padding-bottom: 80px;
}
.foot h3{
    color: #000;
font-family: Josefin Sans;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 5px;
}
.foot p{
    color: #000;
font-family: Josefin Sans;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.mbmn{
    display: none;
}
.icos{display: none;}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: var(--glasscolur, linear-gradient(0deg, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0.32) 100%), radial-gradient(2312.28% 117.96% at 73.67% 49.61%, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.00) 100%), radial-gradient(3465.68% 199.39% at 27.42% 57.87%, rgba(101, 101, 101, 0.00) 0%, rgba(255, 255, 255, 0.00) 100%));
    /* glasss */
backdrop-filter: blur(8px);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
  }
  .sidenav img{
    width: 60px;
height: 60px;
flex-shrink: 0;
padding-left: 25px;
padding-bottom: 25px;
padding-top: 20px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
        color: #FFF;
        font-size: 24px;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
/*media mobile*/
@media only screen and (max-width: 768px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .hd{
    display: none;}
    .icos{display: inline;}
    .glass h2{
        color: #FFF;
font-family: Josefin Sans;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;
    }
    .headmn{
        color: #FFF;
text-align: center;
font-family: Josefin Sans;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
position: absolute;
top: 50%;
right: 0;
}
    .headsb{
        color: #FFF;
text-align: center;
font-family: Josefin Sans;
font-size: 28px;
font-style: normal;
font-weight: 300;
line-height: normal;
position: absolute;
width: 284px;
top: 85%;
right: 15%;
    }
    .abt{
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        width: auto;
    }
.abt h3{
    color: #000;
text-align: center;
font-family: Josefin Sans;
font-size: 45px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-right: 0;
padding-left: 15px;
}
.abt p{
    color: #FFF;
font-family: Josefin Sans;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
width: auto;
}
.alkaar{
    display: none;
}
.alkaar2{
    display:flex;
    padding: 8px 0px 0px 12px;
    padding-top: 50px;
    gap: 18px;
    width: auto;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
}
.alkaar2::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .alkaar2 {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .tae h3{
    line-height: normal;
   }
   .taebsth {
    line-height: normal;
    color: #FFF;
font-family: Josefin Sans;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;
   }
   .taeb{
    flex-direction: column;
    padding-left: 0;
   }
   .taebs img{
    width: 99px;
height: 178px;
flex-shrink: 0;
object-fit: cover;
border-radius: 20px;
   }
   .tae{
    padding-left: 35px;
   }
   .taebstp{
    color: #FFF;
font-family: Josefin Sans;
font-size: 13px;
font-style: normal;
font-weight: 300;
line-height: 20px;
   }
   .foot h3{
    color: #000;
font-family: Josefin Sans;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: normal;
   }
   /*break*/
   }
  
  