@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
body {
    margin: 0;
}

.thala {
    background: url("https://drive.google.com/uc?export=download&id=1i-iQ1a-ll5pI_gNXBzn0BUHT-nbsOUtb");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.glass{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0.32) 100%), radial-gradient(2312.28% 117.96% at 73.67% 49.61%, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.00) 100%), radial-gradient(3465.68% 199.39% at 27.42% 57.87%, rgba(101, 101, 101, 0.00) 0%, rgba(255, 255, 255, 0.00) 100%);
backdrop-filter: blur(8px);
width: 100%;
height: 127px;
display: flex;
gap: 680px;
}
.glass h2{margin: 0;
    color: #FFF;
font-size: 36px;
font-family: Josefin Sans;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-left: 23px;
padding-top: 45px;
padding-bottom: 45px;
}
.hd{display: flex;
gap: 15px;
padding-top: 45px;
    padding-bottom: 45px;}
.hd a{
    text-decoration: none;
    color: #FFF;
    font-size: 24px;
font-family: Josefin Sans;
font-style: normal;
font-weight: 400;
line-height: 40px;
}
.headmn{
    color: #FFF;
text-align: center;
font-size: 64px;
font-family: Josefin Sans;
font-style: normal;
font-weight: 600;
line-height: normal;
width: 462px;
position: absolute;
top: 50%;
right: 35%;
}

.headsb{
    color: #FFF;
text-align: center;
font-size: 32px;
font-family: Josefin Sans;
font-style: normal;
font-weight: 300;
line-height: normal;
position: absolute;
top: 85%;
right: 38%;
}
.abt{
    display: flex;
    width: 100%;
    gap: 220px;
}
.abt h3{
    width: 370px;
    color: #000;
font-size: 64px;
font-family: Josefin Sans;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 80px;
padding-right: 80px;
}
.abt p{
    width: 479px;
    color: #FFF;
font-size: 24px;
font-family: Josefin Sans;
font-style: normal;
font-weight: 300;
line-height: normal;
padding-left: 40px;
padding-right: 40px;
padding-bottom: 35px;
padding-top: 35px;
border-radius: 69px;
background: #3B3B3B;
box-shadow: 0px 12px 19px 13px rgba(0, 0, 0, 0.25);
}
.lnp{
    background: url("public/images/linebg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 130px;
    
}
.lnp h2{
    color: #FFF;
font-size: 64px;
font-family: Josefin Sans;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 75px;
padding-left: 75px;
padding-bottom: 14px;
margin: 0;
}
.vara{
    width: 48px;
    height: 4px;
    background: #FFF;
    margin-left:75px;
}
.alkaar{
    display: flex;
    gap: 136px;
    padding-left: 220px;
    padding-top: 40px;
    
}
.indv{
    border-radius: 49px;
background: linear-gradient(174deg, rgba(98, 98, 98, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(360deg, #373737 0%, rgba(217, 217, 217, 0.00) 100%);
backdrop-filter: blur(4.5px);
padding: 30px 40px 30px 40px;
}
.indv p{
    color: #FFF;
text-align: center;
font-size: 24px;
font-family: Josefin Sans;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;
}
.stry{
    padding-top: 116px;
    padding-bottom: 100px;
    padding-left: 90px;
    padding-right: 35px;
}
.stry h3{
    color: #000;
font-family: Josefin Sans;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 5px;
}
.stry p{
    color: #000;
font-family: Josefin Sans;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
}